#directions {
  display: none;
}

#map-canvas {
  min-height:300px;
}

#location-name{
  font-size: 1em;
}

#left-panel ul {
  margin-bottom: 1em;
}

.header, footer, .myb {
  width: 100%;
}

.ui-grid-a{
  padding-left: 0px;
  padding-top: 0px;
}

.myb {
  .ui-block-a,
  .ui-block-b {
    width: 100%;
    float: none;
  }
}

@media all and (min-width: 36em) {
  .myb {
    .ui-block-a,
    .ui-block-b {
      float:left;
      width:49.95%;
    }

    #map-canvas {
      min-height: 400px;
    }

    #location-name {
      font-size: 1.2em;
    }
  }
}
@media all and (min-width: 55em) {
  .myb {
    .ui-block-a {
      width: 66.6%;
      min-height: 500px;
    }
    .ui-block-b {
      width: 33.4%;
    }

    #map-canvas {
      min-height: 700px;
    }

    #location-name {
      font-size: 1.5em;
    }
  }
}

